@use "../../../assets/styles/colors";

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--green,
  &--white {
    &:focus-visible {
      outline: 1px solid colors.$orange-500;
      border-radius: 2px;
    }
    &:disabled {
      cursor: default;
    }
  }

  &--green {
    color: colors.$green-500;
    &:hover,
    &:focus-visible {
      color: colors.$green-400;
    }
    &:active {
      color: colors.$green-700;
    }
    &:disabled {
      color: colors.$g-600;
    }
  }

  &--white {
    color: colors.$g-100;
    &:hover,
    &:focus-visible {
      color: colors.$g-50;
    }
    &:active {
      color: colors.$g-100;
    }
    &:disabled {
      color: colors.$g-600;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
