@use "@assets/styles/_extends";
@use "@assets/styles/_colors" as colors;

.participant-card-info-container {
  display: flex;
  align-items: center;
  column-gap: 28px;

  & > :not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -14px;
      width: 1px;
      height: 40px;
      transform: translateY(-50%);
      background-color: colors.$g-200;
    }
  }
}
.participant-card-icons {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  > * {
    position: relative;
  }
  > * + *::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 28px;
    background-color: colors.$g-200;
  }
}

.participant-card-divider {
  width: 1px;
  height: 28px;
  background-color: colors.$g-200;
}

.participant-card-role {
  @extend %label;
  color: colors.$g-800;
}

.participant-card-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
